page-home {

    background-image: url('../../assets/imgs/unialfa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    
    .img-uni{
        background-image: url('../../assets/imgs/unialfa.png');
    background-repeat: no-repeat;
    background-position:right ;
    background-size: contain;
    }
    .teste{
        background-color: orange;

    }
}
