page-visualizar-usuario {
    .img-uni{
        background-image: url('../../assets/imgs/unialfa.png');
    background-repeat: no-repeat;
    background-position:right ;
    background-size: contain;
    }
}
